* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Orbitron", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: url("../img/estrellas.gif");
    background-size: cover;    
    color: #fff;
}

header {
    position: relative;
    overflow: hidden;   
    background-color: #192845;
    color: #fff;
    padding: 20px;
    width:100%;
    box-sizing: border-box;
    
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin-right: 2%;
    font-size: 80%

}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

header .logo img {
    position: absolute;
    height: 45px;
    margin: -40px;
    margin-left: 5p;
    
    }
    


.title-logo {
    display: grid;
    max-width: 1200px;
    justify-content: center;
}

#inicio {
    padding: 20px;
    border-top: 20px;  
}


.titulo-propiedades {
    padding: 30px;
    margin-bottom: 20px;

}
.propiedad-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
   
}

.propiedad {
    flex:1 1 30% ;
    max-width: 300px;
   /* border: 3px solid #fff;
    border-radius: 8px;*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-decoration: none;
    color: inherit;
}

.propiedad img {
    width: 100%;
    height:auto;
    border-radius: 8px 8px 0 0;
    /*padding-top: 20px;*/
    max-width:min-content;/*para probar si queda*/
    max-height:35vh;
}

.propiedad-info {
    padding: 15px;
    color: #fff;
    text-shadow: 3px 3px 0 #000;
}

.propiedad-info h3 {
    margin-top: 0;
    color: #fff;
}

#contacto {
    padding: 20px;
    border-top: 20px;
}

#contact-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
}

#contact-form input,
#contact-form select,
#contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

#contact-form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

#contact-form input[type="submit"]:hover {
    background-color: #555;
}

footer {
    background-color: #192845;
    color: #fff;
    text-align: center;
    padding: 40px 1.25rem;
}

@media screen and (max-width: 600px) {
    .propiedad img {
        max-width: 50%; 
    }
    .title-logo h1{
        height: max-content;
        font-size: 24px;
    }
}
@media screen and (max-width:425px){ 
    .title-logo h1{
        height: max-content;
        font-size: 18px;
    }
}

/* desde aca section QUIENES SOMOS */
.nosotros-section {
    padding: 6.25rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    gap: 20px;
    
}

.description{
    font-size: 1.3rem;
}

.persona {
    gap:50px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    height: 18.75rem;

}

.foto-persona {
    width: 200px;
    height: 200px;
    border-radius: 50%; 
    margin-right: 20px; 
    

}

.texto {
    flex: 1 1 50%; 
    text-shadow: 3px 3px 0 #000;
}

@media screen and (max-width: 1438px) {
    .nosotros-section {
        grid-template-columns: 1fr; 
    }
    .persona .texto p{
        font-size: 1rem; 
    }
}


#propiedades {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px 0;
    text-align: center;
}
.card {

    position: relative;
    width: 350px;
    height: 250px;
    margin: 20px;
}

.card .face {/*aspecto de tarjeta*/
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    transition: 1s; /*tiempo que va a demorar en dar vuelta la tarjeta*/
    overflow:hidden;
    backface-visibility: hidden;
}

.card .front {/*parte delantera de la tarjeta*/
    transform: perspective(600px) rotateY(0deg);/*le estamos designando el angulo de una de las caras*/
    box-shadow: 0 5px 10px rgb(113, 120, 226);
}

.card .front img {
    position:relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*sirve para darle la orden a la imagen o video de como debería redimensionarse para ajustarse a su contenedor*/
}

.card .front h3{
    width: 100%;
    height: 25px;
    line-height: 25px;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 20px;
    margin-top: 0%;
    letter-spacing: 0px;
    position: absolute;
    text-align: center;

}

.card .back p {/*parte trasera de la tarjeta*/
    font-size: 20;
    position: absolute;
    bottom: 0.5;
    width: 90%;
    height: 50%;
    line-height: 25px;
    text-shadow: 2px 1px rgb(9, 9, 122);
    text-align: center;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    padding: 15px;
    display: flex;
    background: rgb(0, 162, 255);
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 5px 10px rgb(113, 120, 226);
}
.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.card:hover .back{
    transform: perspective(600px) rotateY(0deg);
}

.mensaje-enviado { 
    background-color: #f0f0f0;
    color: rgb(36, 21, 175);
    padding: 10px;
    margin-top: 10px;
    border: 3px solid rgb(228, 227, 236);
}  /*estilos para js */

/* Estilos para la sección principal usando json y js  */
#app {
    max-width: 50%;
    margin: 20px auto;
}

/* Estilos para cada dato del planeta */

#app p {
    margin-bottom: 10px;
}

#app img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/* Estilos para la sección de ofertas */
.ofertas {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.ofertas img {
    width: 45%; /* Ajusta el tamaño de las imágenes de las ofertas */
    height: auto;
}


/*ICONOS REDES SOCIALES*/

.social-icons {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 20px;
    justify-content: center;
}
.social-icons a {
    color: WHITE;
    text-decoration: none;
    font-size: 24px;
}
.social-icons a:hover {
    color: #007bff;
}

.footer{
    
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(25,40,69);
    color: white;
    text-align: center;
    padding: 10px 0;
}

.main{
    padding: 100px;
}

